<app-not-found [visible]="!food.id" notFoundMessage="Food Not Found!" resetLinkText="Back to Home"></app-not-found>
<div *ngIf="food.id" class="container">
  <img [src]="food.imageUrl" [alt]="food.name">
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
    </div>

    <div class="restaurant_id">
      <p class="Restaurant"> #{{food.restaurant_id}}</p>
    </div>
    <div class="rating">
      <p class="star-rating"> {{food.stars}}★</p>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="description">
      <div>
        <a>{{food.description}}</a>
      </div>
    </div>

    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()"> Add to Cart</button>

    <div class="button-options">
      <button type="submit">Add Food</button>
      <button (click)="deleteFood()"> Delete Food</button>
      <button (click)="updateFoodPrice()"> Update Price</button>
      <!-- Add New Food Modal -->
      <div>
        <h2>Add New Food</h2>
        <form (submit)="addNewFood()">
          <input type="text" placeholder="Name" [(ngModel)]="newFood.name" required>
          <input type="number" placeholder="Price" [(ngModel)]="newFood.price" required>
          <input type="number" placeholder="Stars" [(ngModel)]="newFood.stars" required>
          <input type="text" placeholder="Image URL" [(ngModel)]="newFood.imageUrl" required>
          <input type="text" placeholder="Restaurant ID" [(ngModel)]="newFood.restaurant_id" required>
          <textarea placeholder="Description" [(ngModel)]="newFood.description"></textarea>
        </form>
      </div>
    </div>

  </div>
</div>
