<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<meta http-equiv="Cache-Control" content="no-cache, no-store, max-age=0, must-revalidate">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />

<app-not-found [visible]="!food" notFoundMessage="查無此餐點!" resetLinkText="返回首頁"></app-not-found>
<div *ngIf="food" class="container">
  <img [src]="food?.image_url??''" [alt]="food?.item_name??''">
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.item_name}}
      </span>
    </div>

    <div class="restaurant_name">
      <p class="Restaurant"> {{food.restaurant_name}}</p>
    </div>
    <!--
    <div class="rating">
      <p class="star-rating"> {{food.stars}}★</p>
    </div>-->

    <div class="tags">
      <a>
        {{food.category}}
      </a>
    </div>

    <div class="description">
      <div>
        <a>{{food.description}}</a>
      </div>
    </div>

    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()"> Add to Cart</button>

    <div class="button-options" *ngIf="userRole === 'restaurant_staff'">
      <!-- <button type="submit">Add Food</button> -->
      <button data-bs-toggle="modal" data-bs-target="#deleteModal"> Delete Food</button>
      <button data-bs-toggle="modal" data-bs-target="#adjustModal"> Update Price</button>
    </div>
  </div>
</div>

<!-- Delete food Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="food">
        Are you sure you want to delete <strong>{{food.item_name}}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteFood()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Adjust food Modal -->
<div class="modal fade" id="adjustModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adjust Food</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body" *ngIf="food">
          <p>Are you sure you want to adjust the price of <strong>{{food.item_name}}</strong>?</p>
        </div>
        <div class="mb-3">
          <label for="newPrice" class="form-label">New Price</label>
          <input type="number" id="newPrice" class="form-control" [(ngModel)]="newPrice">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateFoodPrice()">Adjust</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>