<app-search></app-search>
<app-restaurant-type></app-restaurant-type>
<app-not-found [visible]="!restaurant || !restaurant.length" notFoundMessage="查無此餐廳!" resetLinkText="返回首頁"></app-not-found>
<ul>
  <li *ngFor="let item of restaurant">
    <a routerLink="/restaurant/{{item.id}}">
      <img [src]="item.imageUrl" [alt]="item.name">
      <div class="content">
        <div class="name">
          {{item.name}}
        </div>
        <div class="product-item-footer">
          <div class="campus">
            <span *ngFor="let campus of item.campus">
              {{campus}}
            </span>
          </div>
          <div class="origins">
            <span *ngFor="let origin of item.type">
              {{origin}}
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
