<div class="orders-container">
    <h2>Orders</h2>
    <div *ngFor="let order of orders" class="order-card">
      <div class="order-header">
        Order # {{ order.orderNumber }} placed on {{ order.date }}
      </div>
      <div class="order-body">
        <p>ID: {{ order.order_id }}</p>
  
        <div *ngFor="let item of order.items">
          {{ item.name }}: ${{ item.price }} × {{ item.quantity }} = ${{ item.price * item.quantity }}
        </div>
        <p>Total amount paid: ${{ order.totalAmount }} </p>
        <!--<p>status:{{ order.order_status }}</p>-->
        <select id="role" >
          <option value="" disabled selected>Select the status</option>
          <option value="CONFIRMED">CONFIRMED</option>
          <option value="PREPARED">PREPARED</option>
          <option value="CANCELED">CANCELED</option>
        </select>
        <button type="submit">submit</button>
      </div>
    </div>
  </div>
  