<header>
  <div class="container">
    <a routerLink="/" class="home">Food Order System</a>
    <nav>
      <ul>
        <li>
          <a href="">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Ashish</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/order">Order</a>
            <a routerLink="/feedback">Feedback</a>
            <a routerLink="/logout">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart<span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
