<header>
  <div class="container">
    <a routerLink="/" class="home">餐廳點餐系統</a>
    <nav>
      <ul>
        <li>
          <a href=""routerLink="/login">登入</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">選單</a>
          <div class="menu">
            <a routerLink="/profile">個人資料</a>
            <a routerLink="/order">訂單</a>
            <a routerLink="/orderadmin">意見回饋</a>
            <a routerLink="/orderhr">登出</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">購物車<span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
