<title>TSMC Food Ordering System</title>
<head>
  <div>
    <p>
      <mat-toolbar>
        <span>Food Ordering System</span>
      </mat-toolbar>
    </p>

    <div class="top_menu">
      <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </p>

    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <span>Second Line</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>
  </div>
</head>

<body>
  <div class="flex-container">
    <div><a class="nav-link" href="">Home</a></div>
    <div><a class="nav-link" href="">Menu</a></div>
    <div><a class="nav-link" href="">History</a></div>
    <div><a class="nav-link" href=""></a></div>
  </div>
</body>
